/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Nov 23, 2016, 9:32:54 PM
    Author     : michael
*/
html {
    position: relative;
    min-height: 100%;
}
body {
    padding-top: 70px;
    font-family: 'Lato', sans-serif;
    color: black;
    margin-bottom: 120px;
}
footer{
    position: absolute;
    bottom: 0;
    width: 100%;

}

a{
    color: black;
}
a:hover{
    text-decoration: none;
}
p{
    font-family: 'Merriweather Sans', sans-serif;
}
.navbar-default{
    background-color: white;
    border: none;
    padding: 0 15px;
}
.logo{
    font-size: 35px;
    line-height: 26px;
    padding: 20px 0;
    display: inline-block;
    margin-right: 156px;
}
.logo .des{
    font-size: 15px;
    letter-spacing: 5px;
}
.activePage,.current_page_item {
    border-top: 3px solid #990000;

}
.current_page_item a{
    color: #990000;  
}
.mainMenu ul{
    text-transform: uppercase;
    /*margin: 0 30%;*/
    padding: 0;
    margin-bottom: 0;
}
.mainMenu li{
    display: inline-block;
    padding: 24px 0 0;
    margin: 0 4%;
    font-weight: 700;
}
.mainMenu li:hover{
    border-top: 3px solid #990000;
}
.wrapLang{
    font-weight: 700;
}
.red{
    color: #990000 !important;
}
a.red{
    text-decoration: underline;
}
main{
    margin-top: 120px;
    padding-bottom: 100px;
}

h1{
    font-size: 60px;
    font-family: 'Lato', sans-serif;
    /*margin-bottom: 32px;*/
}
h2{
    font-size: 36px;
}
small{
    font-size: 16px;
    font-family: 'Merriweather Sans', sans-serif;
}
.breadcrumb{
    padding: 10px 0;
    background-color:transparent;
    margin-bottom: 30px;
}
.breadcrumb  span{
    margin-right: 10px;
    margin-left: 10px;
    text-decoration: underline;
    font-family: 'Merriweather Sans', sans-serif;
    cursor: pointer;

}
.breadcrumb  a{
    font-family: 'Merriweather Sans', sans-serif;
    cursor: pointer;
}
.breadcrumb .dropdown{
    display: inline-block;
}
.breadcrumb .delimited{
    background: url(../img/breadcrum.png);
    width: 7px;
    height: 7px;
    margin-left: 24px;
    margin-right: -10px;
    display: inline-block;

}

.textHome{
    font-size: 24px;
}
.space-64{
    height: 64px;
}
.space-32{
    height: 32px;
}
footer{
    margin-top: 100px;
    font-size: 14px;
    padding-bottom: 50px;
    font-family: 'Merriweather Sans', sans-serif;
}
.lineFooter{
    margin-bottom: 30px;
    border-top: 1px solid #333333;
    width: 150px
}
.menuFooter{
    padding-left: 0;
    list-style: none;
}
.menuFooter li{
    float: left;
    display: inline-block;
    margin: 0 0px 0 22px;

}
.contactInfo{
    float: left;
    /*font-family: 'Merriweather Sans', sans-serif;*/
}
.contactInfo i{
    font-size: 18px;
}
.menuFooter{
    float:right;
}

@media (min-width: 1200px){
    .container {
        width: 1200px;
    }

}
@media (max-width:1200px){
    .mainMenu li{
        /*padding: 24px 0;*/
        /*margin: 0 2%;*/
    }
}
@media (max-width:991px){
    .logo{
        margin-right: 56px;
    }
}
@media (min-width:768px){
    .wrapLang{
        /*margin-top: -7px;*/
    }

}
@media (max-width:768px){
    main{
        margin-top: 40px;
        padding-bottom: 50px;
    }

    h1{
        font-size: 40px;
    }
    p,.textHome{
        font-size: 18px;
    }

    .mainMenu ul{
        margin: 10px 0;

    }
    .mainMenu li{
        padding:  0;
        margin: 0 ;
        display: block;
        text-align: center;

    }
    .wrapLang{
        margin-top: 20px;
        text-align: center;
        width: 100%
    }
    .activePage,.current_page_item {
        border-top: none;

    }
    .mainMenu li:hover{
        border-top: none;

    }


}
@media (max-width:480px){
    footer {
        margin-top: 50px; 
        padding-bottom: 20px; 
    }
    .menuFooter{
        float:left;
        margin-top: 20px;
    }
    .menuFooter li{
        margin: 0 22px 0 0;

    }
}